<footer>
    <hr>
    
        <img id ="footer" src="/img/otter.png">
    
        <p id="footerTxt">
          CST 336 Internet Programming. 2023 Olasava, Garcia, Vonan, Cabrera <br>
          <b>Disclaimer:</b> The information on this page is fictitous <br>
          It is used for academic purposes only.
        </p>
    
      </footer>
    