<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
	<%- include('partials/nav.ejs') %>
	<h1>Mercury!</h1>

        	<img src="/img/moon-ga60cfb4c0_1280.jpg" />

        <p>
            Mercury is the closest planet to the sun and also the smallest planet in the solar system. The small and cratered planet does not have any moons and zips around the sun faster than any other planet in the solar system, hence why the Romans named it after their swift-footed messenger god. It is the second densest planet after Earth, with a huge metallic core roughly 2,200 to 2,400 miles (3,600 to 3,800 kilometers) wide, or about 75% of the planet's diameter. In comparison, Mercury's outer shell is only 300 to 400 miles (500 to 600 km) thick. The combination of its massive core and composition, which includes an abundance of volatile elements, has left scientists puzzled for years.
        </p>

        <%- include('partials/footer.ejs') %>
</body>
</html>