img{
	width:60%;
	right-margin:auto;
	left-margin:auto;
	border-radius: 15px;
}

#footer{
    width:7.5%;
	right-margin:auto;
	left-margin:auto;
	border-radius: 15px;
}

body{
    text-align:center;
    
}

